<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:if="${greeting != null}" th:text="${greeting}"></h1>
<!--<script th:inline="javascript">-->
<!--    let greeting = [[${greeting}]];-->
<!--    let time = new Date().getHours();-->
<!--    if (time >= 12 && time <= 17) {-->
<!--        greeting = "Good afternoon, Hassaan";-->
<!--    } else if (time >= 18 && time <= 24) {-->
<!--        greeting = "Good evening, Hassaan";-->
<!--    } else if (time >= 0 && time <= 5) {-->
<!--        greeting = "Good night, Hassaan";-->
<!--    }-->
<!--    document.querySelector('h1').textContent = greeting;-->
<!--</script>-->
</body>
</html>
